@use '../custom';

.intro {
   &__hero {
      background-image: url('../images/plant-s.jpg');
      background-position: center bottom;
      background-repeat: no-repeat;
      background-size: cover;
      min-height: 400px;
   }

   @include custom.media-breakpoint-up(md) {
      height: 100vh;
      min-height: 600px;

      .row {
         height: 100%;
      }

      .intro__item {
         height: 100%;
      }
   }
}